body {
    margin: 0;
}
body > div {
    width: 100%;
    height: 100%;
    background-color: red;
    margin: 0 auto;
}
.site {
    max-width: 1600px;
    min-width: 800px;
    height: 2000px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

 .firstscreen{
     background: linear-gradient(0deg, rgba(64, 65, 73, 0.9), rgba(64, 65, 73, 0.0)),url(../img/fon.png), #404149; 
     background-repeat: no-repeat;
     width: 100%;
     height: 740px;
     position: relative;
 }
 .logo{
     background-image: url(../img/logo.png);
     background-repeat: no-repeat;
     width: 60px;
     height: 18.69px;
     position: absolute;
     left: 21.09%;
     right: 75.78%;
     top: 0.31%;     
 }
 .menu{
     background-image: url(../img/menu-gamburger.png);
     background-repeat: no-repeat;
     width: 50px;
     height: 50px;
     position: absolute;
     left: 85%;
     top: 10%;
 }
 .title{
     font-family:'Oswald';
     font-style: normal;
     font-weight: 500;
     font-size: 64px;
     line-height: 95px;
     text-align: center;
     letter-spacing: 0.02em;
     color: #FFFFFF;
     padding-top: 10%;

 }
 .title>div{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;  
    color: #FFFFFF;
    margin-top: 2%;
  
 }
 .numbers{
     width: 55%;
     height: 35%;
     background: #F7F7F7;
     position: relative;
     left: 23.5%;
     top: 35%;
 }
 .numbers_item{
     display: inline-block;
     width: 190px;
     height: 186px;
     margin-top: 2.5%; 
     margin-bottom: 2.5%;  
 }
 .numbers :nth-child(1){
     margin-left: 1.5%;
 }
 .numbers :nth-child(2){
    margin-left: 1%;
    margin-right: 1%;
}
.numbers :nth-child(3){
    margin-left: 1%;
    margin-right: 1%;
}
.numbers :nth-child(4){
    margin-right: 1%;
}
 .numbers .numbers_item .number{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;    
    color: #F7654A;
    margin-left: 1%;
 }
 .numbers .numbers_item .year{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;    
 }
 .numbers .numbers_item .text{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;  
 }
 .project{
    width: 1110px;
    height: 681px;   
    position: relative;
    left: 15%;
    top: 16rem;
 }
 .header{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #404149;
 }
 .project_arena{
     background-image: url(../img/arena.png);
     background-repeat: no-repeat;
     width: 350px;
     height: 380px;
     display: inline-block;
     margin-top: 2%;
 }
 .project :nth-child(3){
     margin-left: 2%;
     margin-right: 2%;
 }
 .project_arena .line{
    width: 55px;
    height: 6px;
    background: #F7654A;
    margin-top: 115%;
 }
 .project_arena .arena{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;  
    margin-top: 2%;
 }
 .project_arena .textArena{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;   
    text-align: justify; 
    margin: 0;
 }
 .request{
    width: 100%;
    height: 181px;
    background: #F7654A;
    margin-top: 23%;
    padding-top: 5%;
 }
 .text1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    padding-left: 25%;     
 }
 .text2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-left: 25%;
 }
 .request_button{
    width: 175px;
    height: 49px;
    background: #FFFFFF;
    margin-left: 70%;
    margin-top: -3%;
    position: relative;
 
    
 }
 .mail{
     background-image: url(../img/mail.png);
     background-repeat: no-repeat;
     width: 18px;
     height: 21px;
     display: inline-block;
     margin-top: 16px;
     margin-left: 20px;
 }
 .text3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000; 
    position: relative; 
    left: 70px;
    top: -28px;

   
 }