body{
    background-color:#201636;
    padding-top: 6rem;
}
.screen1{
    width: 1629px;
    margin-right: 15%;
    display: inline-block;
    
}
.hero{
    height:767px;
    background-image: url(../img/hero.png);
    background-position: left;
    background-repeat: no-repeat;

}
.block1{
    padding-left: 976px;
   
    
}
.text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; 
    padding-bottom: 6rem;  
    padding-top: 12rem;  
   
}
.text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF; 
    padding-bottom: 2.5rem;   
}
.text3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #211637;  
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px; 
    
}
.start1{
  background-image: url(../img/project.png);  
  background-repeat: no-repeat;
  width: 80.46px;
  height: 80.46px;
  font-size: 0px; 
  background-position-y: -8px; 
  display: inline-block;
   
 
 }
 .start2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    vertical-align: middle;
    margin-left: 6rem;  
    margin-top: 1rem;
    white-space: nowrap;
    display: inline-block;
    
 }
 .line1{
    background-image: url(../img/Line.png);
    background-repeat: no-repeat;
    width: 92.58px;
    height: 25px;
    vertical-align: middle;
    margin-left: 15rem; 
    margin-top: -2.5rem; 
    display: inline-block;

 }
 .button{
    color: #000;
    background-color: #f09f0c;
    width: 300px;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    padding: 20px 0;
    text-decoration: none;
    box-shadow: 1px 1px 10px 2px rgb(240, 159, 12, .5);
    display: inline-block;
    margin-left: 21.5rem ;
    margin-top: -3.5rem;

 }
 .screen2{
    background-image: url(../img/fon.png);
    width: 1629px;
    height: 783px;
    background-repeat: no-repeat;
 }
 .icon{
    margin-top: 129px; 
 }
 

 .icon1 {
    background-image: url(../img/icon1.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    margin-left: 28%;
    display: inline-block;
    
 }

.icon2{
    background-image: url(../img/icon2.png);
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
}
.icon3{
    background-image: url(../img/solution.png);
    width: 100px;
    height: 100px;
    display: inline-block;
}
.icontext{
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    width: 370px;
    height: 224px;
    display: inline-block;
}
.icontext1{
    margin-left: 20%;    
}
.icontext2{
    margin-left: 3%;
    margin-right: 5%;
}
.screen3{
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;

}
h1{
    width: 1170px;
    height: 116px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    padding-left: 15%;
    color: #F09F0C;
}
span{
    color: #FFFFFF;
}
h3{
    width: 1170px;
    height: 116px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-left: 15%;
    color: #FFFFFF;   
}

.top .question{
    background-image: url(../img/question.png);
    background-repeat: no-repeat;
    width: 574px;
    height: 537px; 
    top: 1700px;
    position: absolute;

}
.top .man{
    

    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    width: 496px;
    height: 737px; 
    position: absolute;
    left: 323px;
    opacity: 0.7;
    padding-bottom: 5%;
}

ul{
    display: inline-block;
    margin-left: 50%;
    list-style: none;
    list-style-image: url(../img/Arrow.png);
    margin-top: -2rem;
    
}
li{
    width: 501px;
    height:80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
      
}