

.d1{
    position: absolute;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 0px;    
    display: inline-block;
    
}
.t1{
    position: absolute;
    width: 177px;
    height: 59px;
    left: 387px;
    top: 0px;
    
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #1ACD4C;    
}
.l1{
    position: absolute;
    width: 26px;
    height: 0px;
    left: 482px;
    top: 16px;
    
    border: 1px solid #272727;
    transform: rotate(90deg);
}
.t2{
    position: absolute;
    width: 214px;
    height: 59px;
    left: 508px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.t3{
    position: absolute;
    width: 1014px;
    height: 59px;
    left: 716px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FFFFFF;    
}
.t4{
    position: absolute;
    width: 1014px;
    height: 59px;
    left: 800px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FFFFFF;  
    
}
.t5{
    position: absolute;
    width: 1014px;
    height: 59px;
    left: 916px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FFFFFF;  
    
}
.t6{
    position: absolute;
    width: 1014px;
    height: 59px;
    left: 1120px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FFFFFF;  
    
}
.t7{
    position: absolute;
    width: 1014px;
    height: 59px;
    left: 1250px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FFFFFF;  
    
}
.l2{
    position: absolute;
    width: 1920px;
    height: 0px;
    left: 0px;
    top: 40px;
    
    border: 1px solid #272727; 
}
.t8{
    position: absolute;
    width: 517px;
    height: 41px;
    left: 387px;
    top: 100px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    
    color: #FFFFFF;
}
.tb{
    position: absolute;
    width: 1146px;
    height: 512px;
    left: 0px;
    top: 245px;    
}
.tbh{
    position: absolute;
    width: 1146px;
    height: 23px;
    left: 0px;
    top: 0px;    
}
.tbh1{
    position: absolute;
    width: 151px;
    height: 23px;
    left: 20px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #727272;
}
.tbh2{
    position: absolute;
    width: 204px;
    height: 23px;
    left: 314px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #727272;
    
}
.tbh3{
    position: absolute;
    width: 204px;
    height: 23px;
    left: 614px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #727272;
    
}
.tbh4{
    position: absolute;
    width: 204px;
    height: 23px;
    left: 914px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #727272;    
}
.tr1{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 25px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box;
}
.td1{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
}
.td2{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td3{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td4{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.tr2{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 76px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box; 
}
.td5{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td6{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF; 
}

.td7{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td8{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.tr3{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 127px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box; 
}
.td9{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td10{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF; 
}

.td11{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td12{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.tr4{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 178px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box; 
}
.td13{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td14{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF; 
}

.td15{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td16{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.tr5{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 229px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box; 
}
.td17{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td18{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF; 
}

.td19{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td20{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.tr6{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 280px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box; 
}
.td21{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td22{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF; 
}

.td23{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td24{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.tr7{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 331px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box; 
}
.td25{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td26{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF; 
}

.td27{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td28{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.tr8{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 382px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box; 
}
.td29{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td30{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF; 
}

.td31{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td32{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.tr9{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 433px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box; 
}
.td33{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td34{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF; 
}

.td35{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td36{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.tr10{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 0px;
    top: 484px;
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box; 
}
.td37{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.td38{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF; 
}

.td39{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.td40{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.arrow1{
    position: absolute;
    width: 147px;
    height: 0px;
    left: 751px;
    top: 810px;
    display: inline-block;
    
    
    border: 2px solid #272727;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.d2{
    position: absolute;
    width: 557px;
    height: 35px;
    left: 0px;
    top: 792px;
    display: inline-block;
}
.d2t1{
    position: absolute;
    width: 44px;
    height: 35px;
    left: 924px;
    top: 792px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #4F4F4F;
}
.d2t2{
    position: absolute;
    width: 44px;
    height: 35px;
    left: 968px;
    top: 792px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #4F4F4F;
}
.d2t3{
    position: absolute;
    width: 44px;
    height: 35px;
    left: 1012px;
    top: 792px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #4F4F4F;
}
.d2t4{
    position: absolute;
    width: 44px;
    height: 35px;
    left: 1056px;
    top: 792px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #4F4F4F;
}
.arrow2{
    position: absolute;
    width: 147px;
    height: 0px;
    left: 1100px;
    top: 810px;
    display: inline-block;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}
.wall{
    position: absolute;
    width: 1157px;
    height: 746px;
    left: 387px;
    top: 0px;
    
    background: url(/home_work/Lesson3/img/Стена.png);
    
    opacity: 0.3;    
}